<div style="width: 100%; padding: 20px; display: flex;">
    <form *ngIf="!isLoggedIn" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <h3>{{'register.title' | translate }}</h3>
        <!-- Username input -->
        <div>
            <mat-form-field appearance="standard" style="min-width: 500px;">
            <mat-label>{{ 'username.title' | translate }}</mat-label>
                <input matInput name="username" placeholder="{{'username.placeholder' | translate}}" minlength="3" maxlength="20"
                [(ngModel)]="form.username" required #username="ngModel"
               >
                <mat-hint>{{'username.hint' | translate }}</mat-hint>
                <mat-hint align="end">{{ username.value?.length || 0 }}/20</mat-hint>
            </mat-form-field>
            <div *ngIf="username.errors?.exists" class="alert alert-danger my-2">{{'username.exists' | translate}}</div>
            <div *ngIf="f.submitted && username.invalid">
                <div class="alert alert-danger" *ngIf="username.errors.required">{{'username.required' | translate}}</div>
                <div class="alert alert-danger" *ngIf="username.errors.minlength">{{'username.minLength' | translate}}</div>
                <div class="alert alert-danger" *ngIf="username.errors.maxlenght">{{'username.maxLength' | translate}}</div>
            </div>
        </div>

        <!-- Email input -->
        <div>
            <mat-form-field appearance="standard" style="min-width: 500px;">
            <mat-label>Email</mat-label>
                <input matInput type="email" email name="email" placeholder="{{'email.placeholder' | translate}}"
                [(ngModel)]="form.email" required #email="ngModel"
                >
                <mat-hint>{{ 'email.hint' | translate }}</mat-hint>
            </mat-form-field>
            <div *ngIf="f.submitted && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.required">{{ 'email.required' | translate }}</div>
                <div *ngIf="email.errors.email">{{ 'email.notValid' | translate }}</div>
            </div>
        </div>
        
        <!-- Password input -->
        <div>
            <mat-form-field appearance="standard" style="min-width: 500px;">
                <mat-label>{{'password.title' | translate}}</mat-label>
                <input type="password" name="password" matInput placeholder="{{'password.placeholder | translate'}}" minlength="6"
                [(ngModel)]="form.password" required #password="ngModel"
                >
                <mat-hint>{{ 'password.hint' | translate }}</mat-hint>
            </mat-form-field>
            <div *ngIf="f.submitted && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">{{ 'password.required' | translate }}</div>
                <div *ngIf="password.errors.minlength">{{ 'password.minLength' | translate }}</div>
            </div>
        </div>
        <div>
            <mat-progress-bar mode="indeterminate" *ngIf="isShowSpinner" class="mt-4"></mat-progress-bar>
        </div>
        <div>
            <button color="primary" mat-raised-button style="width: 200px;" class="mt-4 mb-4" [disabled]="isRegisterButtonDisabled">
                {{ 'register.title' | translate }}
            </button>
        </div>
        <div *ngIf="f.submitted && isSignUpFailed">
            <mat-card>{{ 'register.error' | translate }} {{ errorMessage }}</mat-card>
        </div>
        <div *ngIf="isSuccessful">
            <mat-card>{{ 'register.success' | translate }}</mat-card>
        </div>
    </form>
</div>