<div class="d-flex w-100 p-20">
    <form  name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate class="w-100">
        <h3>{{'login.title' | translate}}</h3>
        <!-- Username input -->
        <div>
            <mat-form-field color="accent" appearance="standard" class="input-field">
            <mat-label>{{ 'username.title' | translate }}</mat-label>
                <input matInput name="username" placeholder="{{ 'username.placeholder' | translate }}" minlength="3"
                [(ngModel)]="form.username" required #username="ngModel" maxlength="20">
                <mat-hint>{{ 'username.hint' | translate }}</mat-hint>
                <mat-error align="end" *ngIf="username.errors?.required">{{'username.required' | translate}}</mat-error>
                <mat-error align="end" *ngIf="username.errors?.minlength">{{'username.minLength' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <!-- Password input -->
        <div>
            <mat-form-field color="accent" appearance="standard" class="input-field">
                <mat-label>{{ 'password.title' | translate }}</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" name="password" matInput 
                    placeholder="{{'password.placeholder' | translate}}"
                    minlength="6" [(ngModel)]="form.password" required #password="ngModel">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon matTooltip="{{hidePassword ? ('password.show' | translate) : ('password.hide' | translate)}}">
                        {{hidePassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-hint>{{'password.hint' | translate}}</mat-hint>
                <mat-error align="end" *ngIf="password.errors?.required">{{'password.required' | translate}}</mat-error>
                <mat-error align="end" *ngIf="password.errors?.minlength">{{'password.minLength' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="mt-20 input-field">
            <mat-progress-bar mode="indeterminate" *ngIf="isShowSpinner"></mat-progress-bar>
        </div>
        <div class="mt-20">
            <button color="primary" mat-raised-button class="input-field" [disabled]="isLoginButtonDisabled">
                {{ 'login.title' | translate}}
            </button>
        </div>
        <div *ngIf="f.submitted && isLoginFailed" class="mt-20 input-field">
            <mat-error fxFlex fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon >error</mat-icon>
                <span>{{'login.error' | translate}}: {{ errorService.getErrorMessage(errorCode) }}</span>
            </mat-error>
        </div>
        <div class="mt-20 input-field" *ngIf="isLoggedIn">
            <div fxFlex fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon color="accent">check_circle</mat-icon>
                <span>{{'login.success' | translate }}</span>
            </div>
        </div>
    </form>
</div>