// @import '~@angular/material/theming';

// $primary: mat-palette($mat-green);

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    //background-color: $primary;
}
