<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{'application.title' | translate}}</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button matTooltip="{{'changeLang' | translate}}" [matMenuTriggerFor]='langMenu'>
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #langMenu='matMenu' xPosition="before">
            <button mat-menu-item (click)="changeLanguage('tr')" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
              <span class="flag-icon flag-icon-tr custom-line-height"></span>
              <span>Türkçe</span>
            </button>
            <button mat-menu-item (click)="changeLanguage('en')" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" >
              <span class="flag-icon flag-icon-gb custom-line-height"></span>
              <span>English</span>
            </button>
          </mat-menu>
        </li>  
        <li>
          <button mat-icon-button [matMenuTriggerFor]='themeMenu' matTooltip="{{'changeTheme' | translate}}">
            <mat-icon>brush</mat-icon>
          </button>
          <mat-menu #themeMenu='matMenu'>
            <button mat-menu-item *ngFor="let theme of themes" (click)="changeTheme(theme.key)">
              <span>{{theme.name}}</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="{{ 'overview.title' | translate }}">
    <div class="p-20">
      <p>{{ 'overview.description' | translate }}</p>
      <ul class="circle-list">
        <li>Spring Boot Back End</li>
        <li>Angular 8 Front End</li>
        <li>Angular Material</li>
        <li>Highcharts</li>
        <li>JWT Authentication</li>
        <li>MySQL</li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'login.title' | translate }}">
    <app-login></app-login>
  </mat-tab>
  <mat-tab label="{{'register.title' | translate}}">
    <app-register></app-register>
  </mat-tab>
</mat-tab-group>
