ul li{
    list-style: none;
}

:host{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.p-20{
    padding: 20px;
}

.circle-list{
    li{
        list-style: circle;
    }
}

.custom-line-height{
    line-height: 2em !important;
}
